html,body,div,ul,li,a,span,p,ol,h1,h2,h3,h4,h5,h6,img,input,textarea,dl,dt,dd,select,form,table,td,th,tr{
	margin:0;
	padding:0
}
body {
	text-align: center;	
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	font-size: 12px;
}
a {
	text-decoration: none;
}
li,dd {
	list-style: none;
}
img {
	border: none;
}
.clear {
	clear: both;
}
.head {
	background: #6492bc;
	height: 20px;
	text-align: left;
}
.head a {
	font-weight: bold;
	float: left;
	display: block;
	width: 66px;
	text-align: center;
}
.lefthead {
	height: 20px;
	width: 30%;
	float: left;
	overflow: hidden;
	background: #2b5d96;
}
.c {
	float: right;
}
.lefthead a {
	border-left: 1px solid #d1d1d1;
	color: #d1d1d1;
}
.righthead {
	height: 20px;
	width: 70%;
	float: left;
	overflow: hidden;
}
.righthead a {
	color: #153963;
	border-right: 1px solid #153963;
}	
#box {
	text-align: center;
	background: url(bg_index1.png) top center repeat-x;	
	width: 100%;
	height: 462px;
}
.main {
	/*background: url(bg_index.jpg) top center no-repeat;*/
	width: 980px;
	margin: 0 auto;
	overflow: hidden;
	height: 462px;
}
.logo {
	width: 368px;
	height: 104px;
	margin-top: 71px;
	margin-left: 342px;
}
.n {
	width: 684px;
	overflow: hidden;
	margin: 20px auto 0;
}
.t {
	height: 25px;
	line-height: 25px;
}
.t span {
	float: left;
	display: block;
	width: 94px;
	overflow: hidden;
	text-align: center;
	border: 1px solid #abc2d5;
	border-bottom: none;
	position: relative;
	top: 1px;
	background: #fdfefe;
	margin-right: 3px;
	font-weight: bold;
	color: #000000;
}
.t a {
	float: left;
	width: 94px;
	overflow: hidden;
	text-align: center;
	margin-right: 3px;
	color: #1262b3;
}
.t a:hover {
	border: 1px solid #abc2d5;
	border-bottom: none;
	position: relative;
	top: 1px;
	background: #fdfefe;
}
	
.u {
	height: 65px;
	background: #ffffff;
	overflow: hidden;
	border: 1px solid #abc2d5;
}
.d {
}
.o {
	height: 24px;
	padding-top: 20px;
	padding-left: 15px;
}
.text {
	height: 12px;
	width: 520px;
	text-align: left;
	padding-left: 5px;
	float: left;
	border: 1px solid #d1d1d1;
	margin-right: 3px;
	display: block;
	padding-top: 5px;
	padding-bottom: 5px;
}
.button {
	width: 80px;
	border: 1px solid #6c7c89;
	background: #ffffff;
	color: #000000;
	height: 24px;	
	line-height: 24px;
	font-weight: bold;
	cursor: pointer;
	float: left;
	margin-right: 5px;
	text-align: center;
	display: block;
}
.add {
	float: left;
	display: block;
	width: 30px;
	line-height: 22px;
	height: 22px;
	border: 1px solid #627289;
	color: #000000;
}
.d p {
	margin-top: 10px;
}
.d p a {
	color: #1262b3;
	text-decoration: underline;
}
.btn1 {
	float: none;
	margin: 5px auto 0;
}
.subbox .main {
	background: url(bg_sub.jpg) no-repeat;
	width: 1024px;
	height: auto;
}
.lm {
	width: 980px;
	margin: 0 auto;
	text-align: left;
}
.subhead ,.subhead .lefthead,.subhead .righthead {
	height: 5px;
}
.nlogo {
	float: left;
	width: 255px;
	height: 90px;
	overflow: hidden;
	margin-right: 10px;
}
.nnn {
	float: left;
	font-size: 20px;
	color: #666666;
	margin-top: 50px;
}
.nnnn {
	width: 310px;
	float: right;
	height: 28px;
	overflow: hidden;
	background: #2b5d95;
	line-height: 28px;
}
.nnnn a {
	float: left;
	display: block;
	color: #d1d1d1;
	border-left: 1px solid #6492bb;
	width: 76px;
	text-align: center;
}
.cc {
	border: 5px solid #dddddd;
	background: #ffffff;
	opacity: 0.9;
	filter:alpha(opacity=90);
	overflow: hidden;
	zoom: 1;
	padding: 20px;
}
.ll {
	float: left;
}
.mm {
	width: 730px;
	overflow: hidden;
	margin-left:30px;
	display: inline;
	float: left;
}
.box {
	background: url(22.png) no-repeat;
	padding-left: 34px;
	overflow:hidden;
	zoom: 1;
}
.rounded2 {
	display: block;
	width: 150px;
	height: 25px;
	border: 1px solid #c1cfda;
	background: #dee9f0;
	color: #0c4386;
	text-align: center;
	line-height: 25px;
	font-weight: bold;
}
.mmm {
	width: 730px;
	overflow: hidden;
	padding-bottom: 10px;
}
.bbb {
	background: #eef4f8;
	padding-top: 10px;
	padding-left:30px;
	padding-right: 30px;
	width: 670px;
	margin-bottom: 10px;
}
#location select {
    float: left;
    margin-right: 10px;
    width: 142px;
	margin-top: 5px;
}
#location input {
    padding: 1px;
	margin-top: 5px;
    width: 500px;
}
.dd {
	float: left;
	width: 254px;
	overflow: hidden;
}
.ee {
	width: 656px;
	overflow: hidden;
	border: 5px solid #dddddd;
	background: #ffffff;
	opacity: 0.9;
	filter:alpha(opacity=90);
	float: left;
	height: 424px;
	padding: 30px;
}
.tt {
	margin-top: 30px;
}
.ddd {
	float: right;
	width: 215px;
	overflow: hidden;
	background: #e2e5e8;
	opacity: 0.9;
	filter:alpha(opacity=90);
	height: 400px
}
.ddd li {
	height: 40px;
	line-height: 40px;	
	border-bottom: 1px solid #d6d6d6;	
	margin-left: 30px;
}
.ddd li a {
	display: block;
	height: 40px;
	position: relative;
	background: url(reg.png) no-repeat;
	padding-left: 40px;
	color: #000000;
}
.ddd li.sign a{
	background-position: 0px 5px;
}
.ddd li.login a{
	background-position: 0px -43px;
}
.ddd li.forget a{
	background-position: 0px -90px;
}
.ddd li.pre a{
	background-position: 0px -136px;
}
.ddd li.active {
	background: url(bg_subnav.png) no-repeat;
}
.ddd li.active a {
	color: #ffffff;
}
.ee h4 {
	color: #0c4386;
	font-size: 16px;
}
.eee {
	border: 1px solid #dee8f0;
	margin-top: 10px;
	overflow: hidden;
	padding: 18px;
	zoom: 1;
}
.txt {
	width: 244px;
	height: 20px;
	overflow: hidden;
	border: 1px solid #c4c4c4;
	background: #ffffff;
}
.pd a {
	color: #1262b3;
	text-decoration: underline;
}
.pd .btn1 {
	float: none;
	margin: 5px auto 0;
	float: left;
	width: 130px;
	margin-left: 30px;
}
.foot {
	background: url(foot.jpg) top center no-repeat;
	width: 894px;
	margin: 0 auto;
	overflow: hidden;
	height: 100px;
	margin-top: 10px;
	padding-top: 16px;
}
.optimize a {
	margin-left: 8px;
	margin-top: 8px;
	color: #666666;
}
.foot span {
	color: #666666;
}
.ogr {
	padding-top: 14px;
	padding-left: 110px;
}